@import './../../styles/variables.scss';

.form-container {
    display: block;
    text-align: center;
    max-width: 600px;
    margin-bottom: 1rem;

    h2 {
        padding-top: 1rem;
        color: $text-color;
    }

    input[type='text'],
    select {
        box-sizing: border-box;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border: solid 1px $button-color;
        background-color: $backdrop-color;
        border-bottom: solid 5px $button-color;
        color: $text-color;
        width: 70%;
        margin: 0.5rem 0 0.5rem 0;
        padding: 0.5rem;
    }

    .form-description {
        color: $text-color;
    }

    .add-button {
        @include button($button-color);
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .error-form {
        width: 50%;
        margin: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $danger-color;
        font-weight: bold;

        ul {
            text-align: left;

            @include breakpoint-small {
                margin-left: -3rem;
                margin-right: auto;

            }
        }
    }

    @include breakpoint-small {
        width: 400px;
    }
}