#new-task-container {
    width: 600px;
    padding-bottom: 20px;
}

#add-task-text {
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
}

#add-task-fields {
    text-align: center;
}

#dropbox-field {
    margin-left: 20px;
}

#add-button {
    padding-left: 40px;
    padding-right: 40px;
}