@import './../../styles/variables.scss';

.error-message-component {
    margin: 1.5rem 0 3rem;

    .title {
        color: $light-danger-color;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .text {
        color: $light-text-color;
        font-size: 1rem;
    }
}