@import './../../styles/variables.scss';

div.tasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .task {
        margin: 0 1rem 0 1rem;
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .clearButton {
        margin-bottom: 1rem;
    }

}

.dark {
    .clearButton {
        @include button($dark-warning-color, $dark-button-text-color);
    }
}

.light {
    .clearButton {
        @include button($light-warning-color, $light-button-text-color);
    }
}