@import './../../styles/variables.scss';

div.tasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .task {
        margin: 0 1rem 0 1rem;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .clear-button {
        @include button($warning-color);
        margin-bottom: 1rem;
    }

}