@import './variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // background-color: $dark-background-color;
  
  // .dark {
  //   // width: 100%;
  //   // height: 100%;
  //     background-color: $dark-background-color;
  // }
  
  // .light {
  //   // width: 100%;
  //   // height: 100%;
  //     background-color: $light-background-color;
  // }
}

:root {
  .dark {
    background-color: $dark-background-color;
  };
  .light {
    background-color: $light-background-color;
  }
}

// .dark {
// }

// .body {
//   .dark {
//     width: 100%;
//     height: 100%;
//       background-color: $dark-background-color;
//   }
  
//   .light {
//     width: 100%;
//     height: 100%;
//       background-color: $light-background-color;
//   }
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}