@import './variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[theme='dark'] {
  @include transition;
  background-color: $dark-background-color;
  min-height: 100vh;
}

[theme='light'] {
  @include transition;
  background-color: $light-background-color;
  min-height: 100vh;
}

// .dark {
//   @include transition;
//     background-color: $dark-background-color;
//   min-height: 100vh;
// }

// .light {
//   @include transition;
//   background-color: $light-background-color;
//   min-height: 100vh;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}