@import './../../../styles/variables.scss';

.addingTasks {
    .dark {

        h1 {
            color: $dark-title-color;
        }

        li {
            color: $dark-text-color;
        }
    }
}

.addingTasks {
    .light {

        h1 {
            color: $light-title-color;
        }

        li {
            color: $light-text-color;
        }
    }
}