@import './../../styles/variables.scss';

.cardContainer {
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.dark {
    @include transition;
    background-color: $dark-backdrop-color;
}

.light {
    @include transition;
    background-color: $light-backdrop-color;
}