@import './../../styles/variables.scss';

div .header-container {

    background-color: $backdrop-color;

    nav {
        height: 3rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .header-icons {
            .react-icon {
                @include icon-size(30px, 30px);
                color: #61dbfb;
                padding-top: 0.5rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }

            .sass-icon {
                @include icon-size(30px, 30px);
                color: #cd6799;
            }

            img {
                margin: 0.5rem;
            }
        }
    }

    nav .header-text {
        justify-content: end;
        margin-top: 0.8rem;
        margin-right: 1rem;

        span {
            margin: 1rem;
            color: $text-color;
        }
    }

}