@import './../../styles/variables.scss';

.header {

    height: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .headerIcons {
        flex: 50;

        .reactIcon {
            @include icon-size(30px, 30px);
            padding-top: 0.5rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .sassIcon {
            @include icon-size(30px, 30px);
            color: #cd6799;
        }

        img {
            margin: 0.5rem;
        }
    }

    .headerText {
        justify-content: end;
        margin-top: 0.8rem;
        margin-right: 1rem;

        span {
            margin: 1rem;
        }

    }
}

.dark {
    @include transition;
    background-color: $dark-backdrop-color;
    color: $dark-text-color;

    .reactIcon {
        color: #61dbfb;
    }
}

.light {
    @include transition;
    background-color: $light-backdrop-color;
    color: $light-text-color;

    .reactIcon {
        color: #0c7be2;
    }
}