@import './../../styles/variables.scss';

.header {

    nav {
        height: 3rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .headerIcons {
            .reactIcon {
                @include icon-size(30px, 30px);
                color: #61dbfb;
                padding-top: 0.5rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }

            .sassIcon {
                @include icon-size(30px, 30px);
                color: #cd6799;
            }

            img {
                margin: 0.5rem;
            }
        }
    }

    nav .headerText {
        justify-content: end;
        margin-top: 0.8rem;
        margin-right: 1rem;

        span {
            margin: 1rem;
        }

    }
}

.dark {
    background-color: $dark-backdrop-color;
    color: $dark-text-color;
}

.light {
    background-color: $light-backdrop-color;
    color: $light-text-color;
}