@import './../../../styles/variables.scss';

div.task-container {
    width: 100%;
    padding: 1rem 0 1rem 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h3 {
        width: calc(100% - 2rem);
        display: flex;
        // color: $title-color;
        font-size: 26px;
        margin-top: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        justify-content: center;
    }

    .title {
        max-width: 100%;
        width: 25rem;
    }

    strong {
        // color: $text-color;
    }

    .task-id {
        // color: $id-color;
        font-weight: bold;
        padding-left: 0.2rem;
    }

    .task-status {
        padding-left: 0.2rem;
    }

    .task-info {
        margin-bottom: 0.5rem;
        margin-left: 2rem;
    }

    .button-container {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;

        .status-button {
            // @include button($success-color);
            margin-right: 0.5rem;
        }

        .remove-button {
            // @include button($danger-color);
            margin-left: 0.5rem;
        }
    }
}