@import './../../../styles/variables.scss';

.changingStatus {
    .dark {

        h1 {
            color: $dark-title-color;
        }

        p {
            color: $dark-text-color;
        }
    }

    .light {

        h1 {
            color: $light-title-color;
        }

        p {
            color: $light-text-color;
        }
    }
}