@import './../../styles/variables.scss';

.themeButton {
    margin-top: 0.25rem;
    margin-right: 0.4rem;
    width: 2.5rem;
    height: 2.5rem;
}

.dark {
    @include transition;
    .themeButton {
        @include button($dark-background-color, $dark-warning-color)
    }
}

.light {
    @include transition;
    .themeButton {
        @include button($light-background-color, $light-title-color)
    }
}