@import './../../../styles/variables.scss';

.taskCounterContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem auto 0 auto;

    @include breakpoint-large {
        width: 90%;
    }

    .taskCounterInner {
        height: 50%;
        padding: 4rem 0 4rem 0;

        @include breakpoint-large {
            padding: 3rem 0 3rem 0;
        }
    }

    h1,
    h3 {
        margin: 0.5rem;
    }

    @include breakpoint-small {
        width: 90vw;
    }
}

.dark {
    @include transition;

    h1 {
        color: $dark-warning-color;
    }

    h3 {
        color: $dark-text-color;
    }
}

.light {
    @include transition;

    h1,
    h3 {
        color: $light-text-color;
    }
}