@import './../../../styles/variables.scss';

.task-counter-container {
    max-width: 500px;
    display: flex;
    padding: 0.8rem 0 0.8rem 0;
    flex-direction: column;
    text-align: center;
    // background-color: $backdrop-color;

    h1, h3 {
        // color: $text-color;
        margin: 0.5rem;
    }
}