@import './../../../styles/variables.scss';

.taskCounterContainer {
    max-width: 500px;
    display: flex;
    padding: 0.8rem 0 0.8rem 0;
    flex-direction: column;
    text-align: center;

    h1, h3 {
        margin: 0.5rem;
    }
}

.dark {
    @include transition;
    h1, h3 {
        color: $dark-text-color;
    }
}

.light {
    @include transition;
    h1, h3 {
        color: $light-text-color;
    }
}