@import './../../styles/variables.scss';

.navContainer {
    margin-top: 0.9rem;

    a {
        text-decoration: none;
        // padding: 0 1.5rem 1.5rem 0;
        font-weight: bold;
    }

}

.dark {
    a {
        color: $dark-text-color;
        padding: 0 0.7rem 0rem 0.7rem;
    }

    .active {
        padding: 0.5rem 0.7rem 0.5rem 0.7rem;
        border-radius: 3px;
        background-color: $dark-background-color;
    }
}

.light {
    a {
        color: $light-text-color;
    }
}