@import './../../styles/variables.scss';

.navContainer {
    margin-top: 0.8rem;

    a {
        text-decoration: none;
        padding: 0 1rem 1rem 0;

        .dark {
            color: $dark-text-color;
        }

        .light {
            color: $light-text-color;
        }
    }
}