@import './../../styles/variables.scss';

.navContainer {
    margin-top: 0.9rem;

    a {
        text-decoration: none;
        font-weight: bold;
        padding: 0.5rem 0.7rem 0.5rem 0.7rem;

        @include breakpoint-small {
            padding: 0 0.2rem 0 0;
            font-size: 14px;
        }
    }
}

nav.dark {
    a {
        color: $dark-text-color;

        &:hover {
            background-color: $dark-button-text-color;
            border-radius: 3px;
        }

        &.active {
            border-radius: 3px;
            background-color: $dark-background-color;
        }
    }
}

.light {
    a {
        color: $light-text-color;

        &:hover {
            background-color: $light-button-text-color;
            color: $dark-text-color;
            border-radius: 3px;
        }
    }
}